/*body{
  position: relative;
}

main {
  position: absolute;
  top: 40%;
  left:50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}*/
header {
  background-color: grey;
  height: 40px;
  width: 624px;
}

ul li {
  display:inline-block;
  /*line-height: 0;*/
}

ul li button {
  height: 100px;
  width: 100px;
  margin: 2px 2px;
  color:transparent;
  font-size: 35px;
}

#board-triqui, #board-puntuaction {
  position: relative;
  display: inline-block;
  float: left;
  height: 312px;
  width: 312px;
  background-color:#58ACFA;
  font-size: 0;
  padding: 0;
}

h1 {
  color:white;
  font-size: 30px;
}

#start {
  position:absolute;
  left:200px;
  top:250px;
  width: 100px;
  height: 50px;
}

#start span{
  color:grey;
  font-weight: bold;
}

/*#board-puntuaction {
  height: 300px;
  width: 300px;
  background-color: yellow;

}*/
